body {
  font-family: "Rubik", "Inter", "Helvetica", sans-serif;
  background-color: hsl(220deg, 43%, 97%);
  color: hsl(231deg, 42%, 28%);
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: "Manrope", "Inter", sans-serif;
}

button {
  color: hsl(231deg, 42%, 28%);
  font-family: "Manrope", "Inter", sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  padding: 8px 40px;
  border: 3px solid hsl(230deg, 34%, 46%);
  border-radius: 80px;
  transition: 0.1s ease-out;
}

button:hover {
  color: hsl(220deg, 43%, 97%);
  background-color: hsl(230deg, 34%, 46%);
}

button:focus {
  border: 3px solid hsl(230deg, 34%, 46%);
}

#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: url("./images/blobTop.svg"), url("./images/blobBottom.svg");
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-size: 30%;
}

#boarding-screen {
  margin: 96px max(16px, 5vw);
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
#boarding-screen pre {
  white-space: pre-wrap;
  font-size: 1rem;
  width: 100%;
  margin-top: 16px;
}
#boarding-screen .left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1 1 320px;
}
#boarding-screen .left h1 {
  font-size: calc(40px + 1.5vw);
  font-weight: 800;
  letter-spacing: -1px;
}
#boarding-screen .left form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#boarding-screen .left form label {
  margin-bottom: 4px;
}
#boarding-screen .left form input,
#boarding-screen .left form select {
  color: inherit;
  padding-top: 12px;
  padding-bottom: 12px;
}
#boarding-screen .left button {
  margin-top: 16px;
}
#boarding-screen .right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  flex: 1 1 320px;
}
#boarding-screen .right .giphy-embed {
  width: 100%;
}

#main-screen {
  margin: 80px clamp(16px, 5vw, 64px);
  margin-top: 32px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}
#main-screen h1 {
  font-size: calc(12px + 1.5vw);
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 56px;
  width: 100%;
}
#main-screen .quiz {
  width: 100%;
  position: relative;
}
#main-screen .quiz .index {
  position: absolute;
  left: -64px;
  width: 40px;
  text-align: right;
}
#main-screen .quiz h2 {
  font-size: min(1rem + 0.9vw, 22px);
  font-weight: 700;
  margin-bottom: 16px;
}
#main-screen .quiz .choices {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
#main-screen .quiz .choices div {
  font-size: 0.875rem;
  padding: 4px 12px;
  outline: 1px solid hsl(230deg, 34%, 46%);
  border-radius: 64px;
  text-align: center;
  min-width: max-content;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s ease-out;
}
#main-screen .quiz .choices div:hover {
  background-color: hsl(230deg, 61%, 90%);
}
#main-screen .quiz .choices div.selected {
  outline: none;
  background-color: hsl(230deg, 61%, 90%);
}
#main-screen .quiz .choices div.submitted {
  pointer-events: none;
}
#main-screen .quiz .choices div.correct {
  outline: none;
  background-color: hsl(133deg, 46%, 71%);
}
#main-screen .quiz .choices div.missed {
  outline: none;
  background-color: hsl(230deg, 61%, 90%);
}
#main-screen .quiz .choices div.wrong {
  outline: none;
  background-color: hsl(0deg, 81%, 85%);
}
#main-screen .quiz .choices div.not-selected {
  opacity: 0.5;
}
#main-screen .quiz hr {
  margin: 24px 0;
}
#main-screen .quiz hr:not([size]) {
  height: 3px;
  background-color: hsl(231deg, 42%, 90%);
}
#main-screen #bottom-row {
  width: 100%;
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
#main-screen #bottom-row .result {
  font-family: "Manrope", "Inter", sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.5px;
  margin: 0;
}

@media (min-width: 780px) {
  form {
    max-width: 400px;
  }
}

/*# sourceMappingURL=style.css.map */
