$prime-blue: hsl(244, 100%, 70%);
$secondary-cyan: hsl(220, 100%, 70%);
$accent-pink: hsl(348, 96%, 69%);
$grey-900: hsl(0, 0%, 95%);
$grey-800: hsl(0, 0%, 80%);
$grey-500: hsl(0, 0%, 50%);

$p1: 8px;
$p2: 16px;
$p3: 24px;
$p4: 32px;
$p5: 40px;

$m1: 8px;
$m2: 16px;
$m3: 24px;
$m4: 32px;
$m5: 40px;

$r1: 4px;
$r2: 8px;

$g1: 16px;
$g2: 24px;

body {
	font-family: 'Karla', 'Inter', sans-serif;
}

#root {
	margin: $m5;
}

button {
	padding: $p1 $p2;
	border: none;
	border-radius: $r1;
}

.flex-container {
	background-color: $grey-900;
	outline: 3px solid $grey-800;
	border-radius: $r2;
	padding: $p3;
	margin-top: $m3;
	display: flex;
	flex-wrap: wrap;
	gap: $g1;

	div {
		background-color: white;
		padding: $p1 $p2;
		outline: 1px solid $grey-800;
		border-radius: $r1;
	}
}
