$blue-bg: hsla(220, 43%, 97%, 1);
$blue-primary: hsla(231, 42%, 28%, 1);
$blue-secondary: hsla(230, 34%, 46%, 1);
$blue-divider: hsla(231, 42%, 90%, 1);
$green-correct: hsla(133, 46%, 71%, 1);
$blue-hover: hsla(230, 61%, 90%, 1);
$blue-selected: hsla(230, 61%, 90%, 1);
$red-wrong: hsla(360, 81%, 85%, 1);

$d1: 4px;
$d2: 8px;
$d3: 12px;
$d4: 16px;
$d5: 24px;
$d6: 32px;
$d7: 40px;
$d8: 56px;
$d9: 64px;
$d10: 80px;
$d11: 96px;

$heading-text: "Manrope", "Inter", sans-serif;
$body-text: "Rubik", "Inter", "Helvetica", sans-serif;

body {
	font-family: $body-text;
	background-color: $blue-bg;
	color: $blue-primary;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
	font-family: $heading-text;
}

h1 {
	font-weight: 800;
	letter-spacing: -1px;
}

button {
	font-family: $heading-text;
	font-weight: bold;
	font-size: 20px;

	color: white;
	background-color: $blue-secondary;

	border: none;
	border-radius: $d10;
	padding: $d2 $d8;
	margin-top: $d4;
	transition: 0.1s ease-out;

	&:hover {
		background-color: $blue-primary;
	}
}

#root {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	background: url("./images/blobTop.svg"), url("./images/blobBottom.svg");
	background-repeat: no-repeat;
	background-position: top right, bottom left;
	background-size: 30%;
}

#boarding-screen {
	margin: $d11 max($d4, 5vw);
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	gap: $d8;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;

	pre {
		white-space: pre-wrap;
		font-size: 1rem;
		width: 100%;
		margin-top: $d4;
	}

	.left {
		display: flex;
		flex-direction: column;
		gap: $d4;
		flex: 1 1 320px;

		header {
			h1 {
				font-size: calc($d7 + 1.5vw);
			}

			p {
				font-size: 20px;
			}
		}

		form {
			display: flex;
			flex-direction: column;
			gap: $d4;

			label {
				margin-bottom: $d1;
			}

			input,
			select {
				color: inherit;
				padding-top: $d3;
				padding-bottom: $d3;
			}
		}
	}

	.right {
		display: flex;
		flex-direction: column;
		gap: $d4;
		align-items: center;
		flex: 1 1 320px;

		.giphy-embed {
			width: 50%;
		}
	}
}

#main-screen {
	margin: $d6 max($d7, 16vw) $d10 max($d7, 16vw);
	max-width: 800px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: $d2;
	align-items: center;
	justify-content: space-between;

	& > * {
		width: 100%;
	}
	header {
		margin-bottom: $d8;
		position: relative;

		h1 {
			font-size: max($d5, calc($d3 + 1.5vw));
		}

		button {
			background-color: transparent;
			color: inherit;
			outline: 1px solid $blue-secondary;
			width: 40px;
			height: 40px;
			padding: 10px;
			position: absolute;
			top: -20px;
			left: -$d9;

			&:hover {
				background-color: $blue-hover;
			}
		}

		.material-symbols-outlined {
			font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
			font-size: 20px;
			display: block;
		}
	}

	.quiz {
		width: 100%;
		position: relative;

		.index {
			position: absolute;
			left: -$d8;
			width: $d7;
			text-align: right;
		}

		h2 {
			font-size: min(calc(1rem + 0.9vw), 18px);
			font-weight: 700;
			margin-bottom: $d4;
		}

		.choices {
			display: flex;
			flex-wrap: wrap;
			gap: $d3;

			div {
				font-size: 0.875rem;
				padding: $d1 $d3;
				outline: 1px solid $blue-secondary;
				border-radius: $d9;
				text-align: center;
				min-width: fit-content;
				cursor: pointer;
				user-select: none;
				transition: all 0.1s ease-out;

				&:hover {
					background-color: $blue-hover;
				}

				&.selected {
					outline: none;
					background-color: $blue-selected;
				}
				&.submitted {
					pointer-events: none;
				}
				&.correct {
					outline: none;
					background-color: $green-correct;
				}
				&.missed {
					outline: none;
					background-color: $blue-selected;
				}
				&.wrong {
					outline: none;
					background-color: $red-wrong;
				}
				&.not-selected {
					opacity: 0.5;
				}
			}
		}

		hr {
			margin: $d5 0;
			&:not([size]) {
				height: 3px;
				background-color: $blue-divider;
			}
		}
	}

	#bottom-row {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: $d6;
		justify-content: center;
		align-items: center;

		.result-text {
			font-family: $heading-text;
			font-size: clamp(20px, 5vw, $d5);
			font-weight: bold;
			letter-spacing: -0.5px;
			margin: 0;
		}

		button {
			margin-top: 0;
		}
	}
}

@media (max-width: 450px) {
	#main-screen {
		margin-left: max($d3, 8vw);
		margin-right: max($d3, 8vw);

		header {
			display: flex;
			align-items: center;
			gap: $d4;

			h1 {
				margin-bottom: 0;
			}

			button {
				position: static;
				margin-top: 0;
			}
		}

		/* 
			.index {
				position: absolute;
				left: -$d8;
				width: $d7;
				text-align: right;
		} */

		.quiz {
			.index {
				position: static;
				width: initial;
				text-align: initial;
				margin-bottom: $d1;
			}

			.choices {
				flex-direction: column;

				div {
					min-width: none;
				}
			}
		}

		#bottom-row .result-text {
			text-align: center;
		}
	}
}

@media (min-width: 780px) {
	#boarding-screen .left form {
		max-width: 420px;
	}

	#main-screen .quiz .index {
		left: -$d9;
	}
}
