body {
  font-family: "Rubik", "Inter", "Helvetica", sans-serif;
  background-color: hsl(220deg, 43%, 97%);
  color: hsl(231deg, 42%, 28%);
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: "Manrope", "Inter", sans-serif;
}

h1 {
  font-weight: 800;
  letter-spacing: -1px;
}

button {
  font-family: "Manrope", "Inter", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: hsl(230deg, 34%, 46%);
  border: none;
  border-radius: 80px;
  padding: 8px 56px;
  margin-top: 16px;
  transition: 0.1s ease-out;
}
button:hover {
  background-color: hsl(231deg, 42%, 28%);
}

#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: url("./images/blobTop.svg"), url("./images/blobBottom.svg");
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-size: 30%;
}

#boarding-screen {
  margin: 96px max(16px, 5vw);
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
#boarding-screen pre {
  white-space: pre-wrap;
  font-size: 1rem;
  width: 100%;
  margin-top: 16px;
}
#boarding-screen .left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1 1 320px;
}
#boarding-screen .left header h1 {
  font-size: calc(40px + 1.5vw);
}
#boarding-screen .left header p {
  font-size: 20px;
}
#boarding-screen .left form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#boarding-screen .left form label {
  margin-bottom: 4px;
}
#boarding-screen .left form input,
#boarding-screen .left form select {
  color: inherit;
  padding-top: 12px;
  padding-bottom: 12px;
}
#boarding-screen .right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  flex: 1 1 320px;
}
#boarding-screen .right .giphy-embed {
  width: 50%;
}

#main-screen {
  margin: 32px max(40px, 16vw) 80px max(40px, 16vw);
  max-width: 800px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}
#main-screen > * {
  width: 100%;
}
#main-screen header {
  margin-bottom: 56px;
  position: relative;
}
#main-screen header h1 {
  font-size: max(24px, 12px + 1.5vw);
}
#main-screen header button {
  background-color: transparent;
  color: inherit;
  outline: 1px solid hsl(230deg, 34%, 46%);
  width: 40px;
  height: 40px;
  padding: 10px;
  position: absolute;
  top: -20px;
  left: -64px;
}
#main-screen header button:hover {
  background-color: hsl(230deg, 61%, 90%);
}
#main-screen header .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 20px;
  display: block;
}
#main-screen .quiz {
  width: 100%;
  position: relative;
}
#main-screen .quiz .index {
  position: absolute;
  left: -56px;
  width: 40px;
  text-align: right;
}
#main-screen .quiz h2 {
  font-size: min(1rem + 0.9vw, 18px);
  font-weight: 700;
  margin-bottom: 16px;
}
#main-screen .quiz .choices {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
#main-screen .quiz .choices div {
  font-size: 0.875rem;
  padding: 4px 12px;
  outline: 1px solid hsl(230deg, 34%, 46%);
  border-radius: 64px;
  text-align: center;
  min-width: fit-content;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s ease-out;
}
#main-screen .quiz .choices div:hover {
  background-color: hsl(230deg, 61%, 90%);
}
#main-screen .quiz .choices div.selected {
  outline: none;
  background-color: hsl(230deg, 61%, 90%);
}
#main-screen .quiz .choices div.submitted {
  pointer-events: none;
}
#main-screen .quiz .choices div.correct {
  outline: none;
  background-color: hsl(133deg, 46%, 71%);
}
#main-screen .quiz .choices div.missed {
  outline: none;
  background-color: hsl(230deg, 61%, 90%);
}
#main-screen .quiz .choices div.wrong {
  outline: none;
  background-color: hsl(0deg, 81%, 85%);
}
#main-screen .quiz .choices div.not-selected {
  opacity: 0.5;
}
#main-screen .quiz hr {
  margin: 24px 0;
}
#main-screen .quiz hr:not([size]) {
  height: 3px;
  background-color: hsl(231deg, 42%, 90%);
}
#main-screen #bottom-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
#main-screen #bottom-row .result-text {
  font-family: "Manrope", "Inter", sans-serif;
  font-size: clamp(20px, 5vw, 24px);
  font-weight: bold;
  letter-spacing: -0.5px;
  margin: 0;
}
#main-screen #bottom-row button {
  margin-top: 0;
}

@media (max-width: 450px) {
  #main-screen {
    margin-left: max(12px, 8vw);
    margin-right: max(12px, 8vw);
    /* 
    	.index {
    		position: absolute;
    		left: -$d8;
    		width: $d7;
    		text-align: right;
    } */
  }
  #main-screen header {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  #main-screen header h1 {
    margin-bottom: 0;
  }
  #main-screen header button {
    position: static;
    margin-top: 0;
  }
  #main-screen .quiz .index {
    position: static;
    width: initial;
    text-align: initial;
    margin-bottom: 4px;
  }
  #main-screen .quiz .choices {
    flex-direction: column;
  }
  #main-screen .quiz .choices div {
    min-width: none;
  }
  #main-screen #bottom-row .result-text {
    text-align: center;
  }
}
@media (min-width: 780px) {
  #boarding-screen .left form {
    max-width: 420px;
  }

  #main-screen .quiz .index {
    left: -64px;
  }
}

/*# sourceMappingURL=style.css.map */
