$blue-bg: hsla(220, 43%, 97%, 1);
$blue-primary: hsla(231, 42%, 28%, 1);
$blue-secondary: hsla(230, 34%, 46%, 1);
$blue-divider: hsla(231, 42%, 90%, 1);
$green-correct: hsla(133, 46%, 71%, 1);
$blue-selected: hsla(230, 61%, 90%, 1);
$red-wrong: hsla(360, 81%, 85%, 1);

$d1: 8px;
$d2: 12px;
$d3: 16px;
$d4: 24px;
$d5: 32px;
$d6: 40px;
$d7: 56px;
$d8: 64px;

body {
	font-family: "Karla", "Inter", sans-serif;
	background-color: $blue-bg;
	color: $blue-primary;
}

#root {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	background: url("./images/blobTop.svg"), url("./images/blobBottom.svg");
	background-repeat: no-repeat;
	background-position: top right, bottom left;
	background-size: 30%;
}

#container {
	margin: $d6 $d8;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;

	h1 {
		font-size: 40px;
		font-weight: 700;
		letter-spacing: -1.5px;
	}

	button {
		background-color: $blue-secondary;
		color: $blue-bg;
		padding: $d2 $d6;
		border: none;
		border-radius: $d1;
	}
}

.option {
	padding: $d2 $d4;
	border: $blue-secondary;
	border-radius: $d2;
}
